<% include ./partials/header %>
<div class="ui container">
    <div id="map" class="ui left aligned segment">
   <div style="width: 100%"><iframe width="100%" height="250" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=+(Map)&amp;ie=UTF8&amp;t=&amp;z=2&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">gps coordinates</a></iframe></div><br />
   
   
</div>
<div id="orders">
     <table class="ui celled table">
       <thead>
           <tr>
              <td>Recent Orders</td> 
           </tr>
           <tr>
               <td>Product ID</td>
               <td>Product Name</td>
               <td>Order Proiority</td>
           </tr>
       </thead>
       
   </table>
</div>
</div>

   



<% include ./partials/footer %>