<% include ./partials/header %>

    <div class = "ui main text container segment">
         <div class="ui huge header">Password Reset</div>
        <form class="ui form" action="/reset/<%= token %>" method="POST">
            <div class="field">
                <labelclass="ui label">New Password</label>
                <input type="password" name="password" autofocus placeholder="New Password">
            </div>
             <div class="field">
                <labelclass="ui label">Confirm Password</label>
                <input type="password" name="confirm" placeholder="Confirm Password">
            </div>
            <input class="ui primary basic button" type="submit">
        </form>
    </div>

<% include ./partials/footer %>